@use '../../assets/styles/mixines' as m;
@use '../../assets/styles/variables' as v;

.CommonWrapper {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: v.$defaultBGColor;
  padding: 0 100px;

  @media screen and (max-width: v.$MaxWidthXL) {
    padding: 60px 0;
  }

  .Wrapper {
    @include m.CommonWrapper;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    max-width: 1420px;
    @media screen and (max-width: v.$MaxWidthXL) {
      padding: 0 50px;
    }
    @media screen and (max-width: v.$MaxWidthL) {
      padding: 0 25px;
    }
    .Title {
      @include m.TitleOfSection;
    }
  }

  .Wrapper2 {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    .SliderWrapper {
      width: 100%;
      height: 100%;
      @media screen and (min-width: 1700px) {
        max-width: 1600px;
      }

      .SliderItem {
        background: url('../../assets/images/sliderBG.png') no-repeat;
        background-size: 100% 100%;;
        height: 100%;
        min-height: 655px;
        padding: 20px;
        width: 100%;
        min-width: 350px;
        max-width: 450px;

        @media screen and (max-width: 950px) {
          min-height: 725px;
        }
        @media screen and (min-width: 1700px) {
          min-height: 750px;
          min-width: 450px;
          max-width: 580px;
        }
        @media screen and (max-width: v.$MaxWidthS) {
          min-width: 300px;
          max-width: 360px;
          min-height: 665px;
        }

        .Img {
          object-fit: contain;
          @media screen and (max-width: 1700px) {
            max-height: 200px;
          }
          @media screen and (min-width: 1700px) {
            max-height: 320px;
          }
          @media screen and (max-width: v.$MaxWidthL) {
            max-height: 280px;
          }
          @media screen and (max-width: v.$MaxWidthS) {
            max-height: 170px;
          }
        }

        .SubTitle {
          @include m.FontRalewayRegular(11, 16, v.$defaultDescFontColor);
          margin: 20px 0 5px 0;
          @media screen and (max-width: v.$MaxWidthS) {
            @include m.FontRalewayRegular(12, 16, v.$defaultDescFontColor);
          }
        }

        .Title {
          @include m.FontRalewayRegular(26, 42, v.$defaultFontColor);
          margin-bottom: 20px;
          @media screen and (max-width: 1700px) {
            @include m.FontRalewayRegular(23, 34, v.$defaultFontColor);
          }
          @media screen and (max-width: v.$MaxWidthS) {
            @include m.FontRalewayRegular(21, 28, v.$defaultFontColor);
          }
        }

        .List {
          @include m.FLexCol;
          gap: 20px;
          align-items: flex-start;
          @media screen and (max-width: 1700px) {
            gap: 15px;
          }

          .ListItem {
            @include m.FontRalewayRegular(14, 21, v.$defaultFontColor);
            opacity: 0.9;
            @include m.FLexRow;
            align-items: flex-start;

            .Dot {
              margin-right: 15px;
              position: relative;
              top: 10px;
            }
          }
        }
      }
    }
  }
}