@use '../../assets/styles/mixines' as m;
@use '../../assets/styles/variables' as v;

.Wrapper {
  @include m.CommonWrapper;
  position: relative;
  overflow: hidden;

  .Container {
    @include m.CommonContainer(v.$defaultContainerPadding, 0);
    position: static;
    min-height: 980px;

    @media screen and (max-width: v.$MaxWidthL) {
      min-height: 1050px;
    }
    @media screen and (max-width: v.$MaxWidthS) {
      min-height: 850px;
    }
    @media screen and (max-width: 420px) {
      min-height: 890px;
    }
    @media screen and (max-width: 380px) {
      min-height: 930px;
    }

    .Title {
      @include m.TitleOfSection;
    }

    .SliderWrapper {
      position: absolute;
      width: 100%;
      height: 100%;
      @media screen and (max-width: v.$MaxWidthM) {
        position: relative;
      }

      .Slider {
        width: 100%;
        position: absolute;
        left: 0;

        > div {
          display: flex;
          align-items: stretch;

          > div {
            display: flex;
            align-items: stretch;
            gap: 25px;

            > div {
              display: flex;
              align-items: stretch;
              height: 100%;
              min-height: 100%;
              width: 100%;
              max-width: 580px;

              > div {
                display: flex;
                align-items: stretch;
                width: 100%;
                height: 100%;
                min-height: 100%;
              }

              @media screen and (max-width: v.$MaxWidthXL) {
                max-width: 500px;
              }
              @media screen and (max-width: v.$MaxWidthS) {
                max-width: fit-content;
              }
            }
          }
        }

        .SliderItem {
          background: url('../../assets/images/sliderBG.png') no-repeat;
          background-size: 100% 100%;
          display: flex !important;
          flex-direction: column !important;
          align-items: flex-start !important;
          justify-content: flex-start !important;
          height: 100%;
          min-height: 100%;
          padding: 20px;
          @media screen and (max-width: v.$MaxWidthS) {
            padding: 20px 10px;
          }
          .Img {
            object-fit: contain;
            max-height: 350px;
            @media screen and (max-width: 1700px) {
              max-height: 240px;
            }
            @media screen and (max-width: v.$MaxWidthL) {
              max-height: 280px;
            }
            @media screen and (max-width: v.$MaxWidthS) {
              max-height: 170px;
            }
          }

          .SubTitle {
            @include m.FontRalewayRegular(14, 22, v.$defaultDescFontColor);
            margin: 20px 0;
            @media screen and (max-width: v.$MaxWidthS) {
              @include m.FontRalewayRegular(12, 16, v.$defaultDescFontColor);
            }
          }

          .Title {
            @include m.FontRalewayRegular(26, 42, v.$defaultFontColor);
            margin-bottom: 20px;
            @media screen and (max-width: 1700px) {
              @include m.FontRalewayRegular(24, 36, v.$defaultFontColor);
            }
            @media screen and (max-width: v.$MaxWidthS) {
              @include m.FontRalewayRegular(21, 28, v.$defaultFontColor);
            }
          }

          .List {
            @include m.FLexCol;
            gap: 20px;
            align-items: flex-start;
            @media screen and (max-width: 1700px) {
              gap: 15px;
            }

            .ListItem {
              @include m.FontRalewayRegular(16, 28, v.$defaultFontColor);
              opacity: 0.9;
              @include m.FLexRow;
              align-items: flex-start;
              @media screen and (max-width: v.$MaxWidthS) {
                @include m.FontRalewayRegular(14, 21, v.$defaultFontColor);
              }

              .Dot {
                margin-right: 15px;
                position: relative;
                top: 10px;
              }
            }
          }
        }
      }
    }
  }
}
