.swiper {
  width: 100%;
  height: auto; /* Сделает высоту адаптивной */
  display: flex; /* Даем возможность слайдам выстраиваться */
  justify-content: flex-start;
}

.swiper-wrapper {
  height: auto;
  //max-width: 1740px;
  display: flex; /* Даем возможность слайдам выстраиваться */
  justify-content: flex-start;
}

.swiper-slide {
  width: 100% !important; /* Позволяет слайдам занимать нужное место */
}