@use '../../assets/styles/mixines' as m;
@use '../../assets/styles/variables' as v;

.BtnWrapper {
  position: relative;
  width: 100%;
  max-width: 430px;

  //@include m.CommonBtn;

  .Btn {
    width: 100%;
    background: url("../../assets/images/btn.png") no-repeat;
    background-size: 100% 100%;
    padding: 15px 30px;
    @include m.FontRalewayRegular(14, 30, v.$defaultFontColor);
    text-align: center;
    @media screen and (max-width: v.$MaxWidthS) {
      max-width: 100%;
    }
  }

  @include m.CommonCornersStyles;
}