@use '../../assets/styles/mixines' as m;
@use '../../assets/styles/variables' as v;

.Wrapper {
  @include m.CommonWrapper;
  position: relative;

  .Container {
    @include m.CommonContainer(v.$defaultContainerPadding, 0);
    position: static;
    padding-bottom: 0 !important;

    .Title {
      @include m.TitleOfSection;

      &:after {
        content: '';
        position: absolute;
        top: 200px;
        background: url("../../assets/images/chains.png") no-repeat;
        background-size: 100% 100%;
        width: 100%;
        left: 0;
        height: 80px;
        @media screen and (max-width: v.$MaxWidthXL) {
          top: 157px;
        }
        @media screen and (max-width: v.$MaxWidthS) {
          top: 135px;
        }
      }
    }

    .AccordionWrapper {
      width: 100%;
      padding-top: 80px;

      .Accordion {
        margin: 0 !important;
        background: none;
        position: relative;
        z-index: 999;

        &:first-child {
          .AccordionSummary {
            padding-bottom: 35px;
          }
        }

        &:nth-child(4) {
          .AccordionSummary {
            padding-bottom: 20px;
          }

          .AccordionSummaryClosed {
            background: url("../../assets/images/accordionSummaryClosed.png") no-repeat;
            background-size: 100% 100%;
            transition: 0s background linear;
            transition-delay: 320ms;;
          }
        }

        .AccordionSummary {
          padding: 25px 50px 30px 50px;
          background: url("../../assets/images/accordionSummary.png") no-repeat;
          background-size: 100% 100%;


          @media screen and (max-width: v.$MaxWidthS) {
            padding: 20px 20px 20px 20px;
            background: url("../../assets/images/accordionSummaryMobile.png") no-repeat;
            background-size: 100% 100%;
          }

          .AccordionTitle {
            @include m.FontRalewayRegular(26, 26, v.$accordionFontColor);

            @media screen and (max-width: v.$MaxWidthS) {
              @include m.FontRalewayRegular(20, 20, v.$accordionFontColor);
            }
            @media screen and (max-width: v.$MaxWidthXS) {
              @include m.FontRalewayRegular(16, 20, v.$accordionFontColor);
            }
          }
        }


        .AccordionDetails {
          padding: 20px 50px 67px 50px;
          background: url("../../assets/images/accordionDetails.png") no-repeat;
          background-size: 100% 100%;
          @media screen and (max-width: v.$MaxWidthXS) {
            padding: 0 20px 37px 20px;
            background: url("../../assets/images/accordionDetailsMobile.png") no-repeat;
            background-size: 100% 100%;
          }

          .Desc {
            @include m.FontRalewayRegular(16, 26, v.$accordionFontColor);

            @media screen and (max-width: v.$MaxWidthXS) {
              @include m.FontRalewayRegular(14, 21, v.$accordionFontColor);
            }
          }
        }
      }

      .AccordionOpen {
        background: url("../../assets/images/faqBg.png") no-repeat;
        background-size: 100% 100%;
        position: relative;
        z-index: 999;
      }
    }
  }
}
