@use '../../assets/styles/mixines' as m;
@use '../../assets/styles/variables' as v;


.Wrapper {
  height: 100%;
  width: 100%;
  position: relative;

  .MainImg {
    object-fit: fill;
    height: 100%;
    width: 100%;
  }

  .Corners {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 9999;
    background: url('../../assets/images/blackSquare.svg') top left / 10px 10px no-repeat, /* верхний левый угол */
    url('../../assets/images/blackSquare.svg') top right / 10px 10px no-repeat, /* верхний правый угол */
    url('../../assets/images/blackSquare.svg') bottom left / 10px 10px no-repeat, /* нижний левый угол */
    url('../../assets/images/blackSquare.svg') bottom right / 10px 10px no-repeat; /* нижний правый угол */

  }
}