@use '../../assets/styles/mixines' as m;
@use '../../assets/styles/variables' as v;

.Wrapper {
  @include m.CommonWrapper;
  height: auto;
  position: fixed;
  z-index: 9999;
  top: 0;

  .Container {
    @include m.CommonContainer(v.$defaultContainerPadding, 0);
    @include m.FLexRow;
    justify-content: space-between;
    gap: 25px;
    padding: 43px 0 !important;

    .Title {
      @include m.FontRalewayRegular(24, 28, v.$defaultFontColor);
    }

    .Nav {
      @media screen and (max-width: v.$MaxWidthL) {
        display: none;
      }

      > ul {
        @include m.FLexRow;
        gap: 40px;
        @media screen and (max-width: v.$MaxWidthL) {
          @include m.FLexCol;
          align-items: flex-end;
        }

        li {

          .NavLink {
            @include m.FontRalewayRegular(14, 16, v.$defaultFontColor);
          }

          .ActiveNavLink {
            text-decoration: underline;
          }
        }
      }
    }

    .BurgerBtn {
      width: 24px;
      height: 17px;
      background: url("../../assets/images/burger.svg") no-repeat;
      background-size: contain;
      display: none;

    }

    .MenuMobileWrapper {
      display: none;

      @media screen and (max-width: v.$MaxWidthL) {
        display: block;
      }
    }

    .BurgerBtnVisible {
      display: block;
    }

    @media screen and (max-width: v.$MaxWidthS) {
      padding: 20px 0 !important;
      .Title {
        @include m.FontRalewayRegular(18, 24, v.$defaultFontColor);
      }
    }
  }
}
//.Wrapper2 {
//  height: 100%;
//  //width: 100%;
//  //position: relative;
//  //max-width: 1420px;
//  min-height: 1400px;
//
//  .SliderWrapper {
//    //width: 100%;
//    min-height: 1400px;
//    height: auto;
//    height: 100%;
//    max-width: 1240px;
//
//    .SliderItem {
//      background: url('../../assets/images/sliderBG.png') no-repeat;
//      background-size: 100% 100%;;
//      height: auto;
//      min-height: 655px;
//      padding: 20px;
//      width: 100% !important;
//      min-width: 400px;
//      max-width: 520px;
//
//      @media screen and (max-width: v.$MaxWidthS) {
//        padding: 20px 10px;
//      }
//      @media screen and (max-width: v.$MaxWidthL) {
//        min-height: 830px;
//
//      }
//      @media screen and (min-width: 1700px) {
//        min-height: 800px;
//        min-width: 450px;
//        max-width: 580px;
//      }
//
//      .Img {
//        object-fit: contain;
//        @media screen and (max-width: 1700px) {
//          max-height: 200px;
//        }
//        @media screen and (min-width: 1700px) {
//          max-height: 350px;
//        }
//        @media screen and (max-width: v.$MaxWidthL) {
//          max-height: 280px;
//        }
//        @media screen and (max-width: v.$MaxWidthS) {
//          max-height: 170px;
//        }
//      }
//
//      .SubTitle {
//        @include m.FontRalewayRegular(11, 16, v.$defaultDescFontColor);
//        margin: 20px 0 5px 0;
//        @media screen and (max-width: v.$MaxWidthS) {
//          @include m.FontRalewayRegular(12, 16, v.$defaultDescFontColor);
//        }
//      }
//
//      .Title {
//        @include m.FontRalewayRegular(26, 42, v.$defaultFontColor);
//        margin-bottom: 20px;
//        @media screen and (max-width: 1700px) {
//          @include m.FontRalewayRegular(23, 34, v.$defaultFontColor);
//        }
//        @media screen and (max-width: v.$MaxWidthS) {
//          @include m.FontRalewayRegular(21, 28, v.$defaultFontColor);
//        }
//      }
//
//      .List {
//        @include m.FLexCol;
//        gap: 20px;
//        align-items: flex-start;
//        @media screen and (max-width: 1700px) {
//          gap: 15px;
//        }
//
//        .ListItem {
//          @include m.FontRalewayRegular(14, 21, v.$defaultFontColor);
//          opacity: 0.9;
//          @include m.FLexRow;
//          align-items: flex-start;
//
//          .Dot {
//            margin-right: 15px;
//            position: relative;
//            top: 10px;
//          }
//        }
//      }
//    }
//  }
//}