@use '../../assets/styles/mixines' as m;
@use '../../assets/styles/variables' as v;

.Wrapper {
  @include m.CommonWrapper;

  .Container {
    @include m.CommonContainer(v.$defaultContainerPadding, 0);

    .Title {
      @include m.TitleOfSection;
    }

    .ContainerOfSections {
      width: 100%;
      @include m.FLexCol;
      justify-content: space-between;
      align-items: flex-start;

      > section {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minMax(200px, 1fr));
        grid-template-rows: repeat(1, 1fr);
        align-content: center;
        gap: 25px;
        @media screen and (max-width: v.$MaxWidthM) {
          grid-template-columns: repeat(1, minMax(200px, 1fr));
          grid-template-rows: repeat(2, 1fr);
        }

        .TitleBlock {
          width: 100%;
          padding: 20px;
          background: url('../../assets/images/blackSquare.svg') top left / 10px 10px no-repeat, /* верхний левый угол */
          url('../../assets/images/blackSquare.svg') top right / 10px 10px no-repeat, /* верхний правый угол */
          url('../../assets/images/blackSquare.svg') bottom left / 10px 10px no-repeat, /* нижний левый угол */
          url('../../assets/images/blackSquare.svg') bottom right / 10px 10px no-repeat; /* нижний правый угол */
          background-color: rgba(22, 28, 66, 1);

          .Title {
            @include m.FontRalewayRegular(26, 44, v.$defaultFontColor);
            margin-bottom: 15px;
          }

          .Desc {
            @include m.FontRalewayRegular(16, 28, v.$defaultFontColor);
            opacity: 0.9;
          }
        }
      }

      .DiagramSection {
        width: 100%;

        .ImageContainer {
          width: 100%;
          height: 100%;
          background: url('../../assets/images/tokenomicsGraphics.png') no-repeat;
          background-size: contain;
          background-position: center;
          min-height: 450px;
          @media screen and (max-width: v.$MaxWidthL) {
            min-height: 400px;
          }
          @media screen and (max-width: v.$MaxWidthS) {
            min-height: 300px;
          }
        }

        .DisagramDescBlock {
          width: 100%;
          @include m.FLexCol;
          gap: 20px;

          div {
            width: 100%;
            padding: 20px;
            position: relative;
            @include m.CommonCornersStyles;

            p {
              @include m.FontRalewayRegular(16, 29, v.$defaultFontColor);
            }
          }
        }
      }

      .DescSection {
        margin-bottom: 50px;
      }
    }
  }
}