@use '../../assets/styles/mixines' as m;
@use '../../assets/styles/variables' as v;

.Wrapper {
  @include m.CommonWrapper;
  background: v.$defaultFooterBG;

  .Container {
    @include m.CommonContainer(v.$defaultContainerPadding, 0);
    padding: 40px 0 60px 0 !important;
    display: grid;
    grid-template-areas:
                'logo list1 list2 email';
    column-gap: 20px;
    @media screen and (max-width: v.$MaxWidthL) {
      grid-template-areas:
                'logo list1 list2'
                'logo list1 list2'
                'email list1 list2'
    }
    @media screen and (max-width: v.$MaxWidthM) {
      grid-template-areas:
                'logo email'
                'list1 list2';
      row-gap: 25px;
      column-gap: 40px;
    }
    @media screen and (max-width: v.$MaxWidthS) {
      grid-template-areas:
                'logo logo'
                'list1 list2'
                'email email';
      row-gap: 40px;
    }

    .Title {
      grid-area: logo;
      @include m.FontRalewayRegular(25, 34, v.$defaultFontColor);
    }

    .List {
      grid-area: list1;

      li {
        text-align: left;

        + li {
          padding-top: 25px;
        }

        a {
          @include m.FontRalewayRegular(14, 16, v.$defaultFontColor);

        }
      }

      &:nth-child(3) {
        grid-area: list2;

        li {
          text-align: left;

          a {
            @include m.FontRalewayRegular(14, 16, v.$defaultFontColor);
            text-decoration: underline;
          }
        }
      }
    }

    .EmailBlock {
      @include m.FLexCol;
      align-items: flex-start;
      grid-area: email;

      p {
        @include m.FontRalewayRegular(11, 21, rgba(119, 123, 153, 1));
        text-align: left;
        margin-bottom: 15px;
      }

      .Email {
        @include m.FontRalewayRegular(14, 21, v.$defaultFontColor);
        @media screen and (max-width: v.$MaxWidthM) {
          font-size: 14px;
        }
      }
    }
  }
}