$defaultFontColor: rgba(255, 255, 255, 1);
$defaultDescFontColor: rgba(174, 175, 181, 1);
$defaultBGColor: rgba(12, 15, 34, 1);
$accordionFontColor: rgba(40, 23, 4, 1);
$defaultFooterBG: #3C436D;
$defaultContainerPadding: 100;
$MaxWidthXXL: 1440px;
$MaxWidthXL: 1320px;
$MaxWidthL: 1024px;
$MaxWidthM: 860px;
$MaxWidthS: 700px;
$MaxWidthXS: 480px;

